PORT=5252
MONGO_URI=mongodb://localhost:27017/ecommerce
JWT_SECRET=your_jwt_secret
CHAPA_SECRET_KEY=CHASECK_TEST-yoyiLEjeQDA93kt8MQiNk881CokauGUb
CHAPA_PUBLIC_KEY=CHAPUBK_TEST-Q9MX5wi4PvVf5mbQIgNRyTF4rz8Fmsj5
CLIENT_URL=http://localhost:5173
BACKEND_URL=http://localhost:5252
ADMIN_SECRET=change_this_admin_secret
OPEN_RUTER_API_KEY=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
